<web-app> 
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>SignupVerify</servlet-name>
  	<servlet-class>com.controller.SignupVerify</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SignupVerify</servlet-name>
  	<url-pattern>/SignupVerify</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ForgetPasswordController</servlet-name>
  	<servlet-class>com.controller.ForgetPasswordController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ForgetPasswordController</servlet-name>
  	<url-pattern>/ForgetPasswordController</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Search</servlet-name>
  	<servlet-class>com.controller.Search</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Search</servlet-name>
  	<url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>SearchAjax2</servlet-name>
  	<servlet-class>com.controller.SearchAjax2</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SearchAjax2</servlet-name>
  	<url-pattern>/SearchAjax2</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
  	<servlet-name>tp1</servlet-name>
  	<servlet-class>com.controller.tp1</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>CheckSignup</display-name>
  	<servlet-name>CheckSignup</servlet-name>
  	<servlet-class>com.controller.CheckSignup</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>Checklogin</display-name>
  	<servlet-name>Checklogin</servlet-name>
  	<servlet-class>com.controller.Checklogin</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>GoogleSignin</display-name>
  	<servlet-name>GoogleSignin</servlet-name>
  	<servlet-class>com.controller.GoogleSignin</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>tp</display-name>
  	<servlet-name>tp</servlet-name>
  	<servlet-class>com.controller.tp</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>getBookDetails</display-name>
  	<servlet-name>getBookDetails</servlet-name>
  	<servlet-class>com.controller.getBookDetails</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AdminLogin</display-name>
  	<servlet-name>AdminLogin</servlet-name>
  	<servlet-class>com.controller.AdminLogin</servlet-class>
  	
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AddAdminBooks</display-name>
  	<servlet-name>AddAdminBooks</servlet-name>
  	<servlet-class>com.controller.AddAdminBooks</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>SellBookDetails</display-name>
  	<servlet-name>SellBookDetails</servlet-name>
  	<servlet-class>com.controller.SellBookDetails</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>SendError</display-name>
  	<servlet-name>SendError</servlet-name>
  	<servlet-class>com.controller.SendError</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>Review</display-name>
  	<servlet-name>Review</servlet-name>
  	<servlet-class>com.controller.Review</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>EditErrorDetails</display-name>
  	<servlet-name>EditErrorDetails</servlet-name>
  	<servlet-class>com.controller.EditErrorDetails</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>abc</display-name>
  	<servlet-name>abc</servlet-name>
  	<servlet-class>com.controller.tp1</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>dabc</display-name>
  	<servlet-name>dabc</servlet-name>
  	<servlet-class>com.controller.abc</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>SearchAjax</display-name>
  	<servlet-name>SearchAjax</servlet-name>
  	<servlet-class>com.controller.SearchAjax</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>DeletefromCart</display-name>
  	<servlet-name>DeletefromCart</servlet-name>
  	<servlet-class>com.controller.DeletefromCart</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AddAddress</display-name>
  	<servlet-name>AddAddress</servlet-name>
  	<servlet-class>com.controller.AddAddress</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>Logout</display-name>
  	<servlet-name>Logout</servlet-name>
  	<servlet-class>com.controller.Logout</servlet-class>
  </servlet>
  
  
  
  
  <servlet-mapping>
  	<servlet-name>tp1</servlet-name>
  	<url-pattern>/tp1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CheckSignup</servlet-name>
  	<url-pattern>/CheckSignup</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Checklogin</servlet-name>
  	<url-pattern>/Checklogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GoogleSignin</servlet-name>
  	<url-pattern>/GoogleSignin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>tp</servlet-name>
  	<url-pattern>/tp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>getBookDetails</servlet-name>
  	<url-pattern>/getBookDetails</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminLogin</servlet-name>
  	<url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddAdminBooks</servlet-name>
  	<url-pattern>/AddAdminBooks</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SellBookDetails</servlet-name>
  	<url-pattern>/SellBookDetails</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SendError</servlet-name>
  	<url-pattern>/SendError</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Review</servlet-name>
  	<url-pattern>/Review</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditErrorDetails</servlet-name>
  	<url-pattern>/EditErrorDetails</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>abc</servlet-name>
  	<url-pattern>/abc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>dabc</servlet-name>
  	<url-pattern>/dabc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchAjax</servlet-name>
  	<url-pattern>/SearchAjax</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeletefromCart</servlet-name>
  	<url-pattern>/DeletefromCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddAddress</servlet-name>
  	<url-pattern>/AddAddress</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <context-param>
  			<param-name>username</param-name>
  			<param-value>admin</param-value>
  </context-param>
  <context-param>
  			<param-name>password</param-name>
  			<param-value>password</param-value>
  </context-param>
</web-app>
